/*Configuraciónes iniciales*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-style: initial;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
}

:root{
    --amarillo-100: #f7f0ba;
    --amarillo-200: #e0dba4;

    --green-50: #e6e8e3;
    --green-100: #a9cba6;
    --green-200: #a2ca8e;
    --green-300: #7ebea3;
    --green-400: #66af91;
    --green-500: #53a08e;
    --green-600: #378371;
    --green-700: #235b4e;

    --red-100: #e6626f;

    --orange-100: #f5e19c;
    --orange-200: #efae78;

    --gray-25: #d7dacfc2;
    --gray-50: #d7dacf;
    --gray-100: #bec3bc;
    --gray-200: #8f9a9c;
    --gray-300: #65727a;
    --gray-400: #334155;
    --gray-500: #334155;

    --blue-500: #0e445a;
    --blue-600: #1d5e69;
    --blue-700: #04394e;
    --blue-800: #021b2b;

    --shadow-blue-600: 0px 15px 30px #1d5e6933;
    --shadow-blue-700: 0px 15px 20px #04394e33;
    --shadow-blue-800: 0px 15px 20px #04394e7a;
}
label{
    display: block;
}
a, ul, ol, li{
    list-style: none;
    text-decoration: none;
    color: royalblue;
}
body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 1900px;
}
/*==FORMS==*/
input, select, textarea{
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(197, 197, 197);
}
label{
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: dimgrey;
    margin: 8px 0px 8px
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.hidden{
    display: none !important;
}
.opacity-0{
   opacity: 0;
}
.svg-icon{
    width: 20px;
    height: 20px;
}
.max-content{
    width: max-content;
}
hr{
    color: var(--gray-100);
    border: none; 
    height: 1px;
    background-color: var(--gray-100);
    margin: 10px 0px;
}
.eventHover{
    transition: all .3s ease;
}
.eventHover:hover .reloadOpacity{
   transition: all .3s ease;
   opacity: 1 !important;
}
