.main{
    padding: 1% 3%;
    margin-bottom: 50px;
}
.nav_empleador{
    justify-content: center;
    align-items: center;
}
.btn_Created_ofert{
    padding: 8px 15px;
    background-color: var(--green-700);
    color: white;
    border-radius: 4px;
    box-shadow: var(--shadow-blue-700);
    transition: all .3s ease;
}
.btn_Created_ofert:hover{
    transform: translateY(-3px);
}
/*PROFILE*/
.PfPersonales_avatar-box{
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    box-shadow: var(--shadow-blue-700);
    margin: 10px 0px;
}
.PfPersonales_avatar-box img{
    padding: 8px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.PfPersonales_avatar-nombre{
    align-items: center;
}   
.PfPersonales_avatar-status{
    margin: 5px 0px;
    color: var(--gray-300);
    justify-content: center;
}
.eventHover{
    border-radius: 100%;
}
.eventHover:hover .reloadOpacity{
   transition: all .3s ease;
   opacity: 1 !important;
}
.overflow_avatar{
    background: linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(52,120,109,0.4514180672268907) 53%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease;
}
.PfDatos{
    padding: 0px 30px;
}
.PfDatos_Empresa h1,.PfDatos_Adress h1{
    color: var(--gray-500);
    font-size: 25px;
    font-weight: 700;
}
.PfDatos_Empresa, .PfDatos_Adress{
    max-width: 400px;
    width: 400px;
}
/*oferts listados*/

.form_container > div{
    width: 100%;
}
.thumbnail{
    justify-content: center;
}
.thumbnail label{
    padding: 25px 30px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 3px;
    align-items: center;
    gap: 5px;
    cursor: pointer;;
}
.thumbnail label svg{
    width: 50px;
    color: rgb(197, 197, 197);
}
.titulo_form{
    color: var(--gray-500);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.main_post_listado{
    min-height: calc(100vh - 350px);
}
.ofert_box{
    background-color: white;
    border-radius: 4px;
    padding: 15px 25px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
    cursor: pointer;
    transition: all .3s ease;
}
.ofert_box:hover{
    transform: translateY(-3px);
}
.ofert_box-header,.ofert_box_footer,.ofert_box{
    align-items: center;
    color: var(--gray-300);
}
.ofert_box_footer_status{
    background-color: var(--green-500);
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
}
.ofert_box_body-empresa, .ofert_box_header-titulo{
    font-weight: 500;
}
/*ESTADISTICAS*/
.reporte_grafico > div{
    width: 100%;
}
.reporte_grafico_left h1,
.reporte_grafico_right h1{
    color: var(--gray-500);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
